.queue-page-wrapper {
  display: flex;
  align-items: start;
  justify-items: center;
  flex-wrap: wrap;
  height: calc(100dvh - 90px);

  .column {
    padding: 1em 0 1em 0;
    height: calc(100dvh - 220px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1em;
    user-select: none;
    overflow-y: auto;
  }
  .cards-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
  }

  .queue-card-wrapper {
    padding: 1.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    gap: 1.3em;
    margin: 0 1em;
    border-radius: 16px;
    direction: rtl;
    user-select: none;
    scale: 1 1;
    animation: hide-card 0.1s ease-in-out;
    animation-timeline: view();
    animation-range: contain 60dvh contain calc(100dvh - 100px);

    .left {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 1em;
      h2 {
        font-size: 1.4em;
      }
      p {
        display: flex;
        span {
          display: flex;
        }
      }
      .ant-tag {
        border-radius: 16px;
        padding: 2px 4px;
        text-wrap: wrap;
        z-index: 0;
        width: max-content;
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: space-evenly;
    }
  }

  .queue-card-wrapper:has(.card-with-name-only) {
    background-color: rgba(255, 125, 125, 0.5);
  }
  .reverse {
    flex-direction: row-reverse;
    .left {
      align-items: end;
    }
    .right {
      flex-direction: row-reverse;
    }
    .ant-tag {
      margin-inline-end: 0;
    }
  }
  .header-card {
    // position: sticky;
    // top: 0;
    margin-top: 1em;
    background-color: rgba(255, 255, 255, 0.05);

    backdrop-filter: blur(50px);
    font-size: 1.2em;
    border-radius: 10px;
    z-index: 5;
    animation-timeline: unset;
    animation: unset;
    position: relative;
    .add-btn {
      position: absolute;
      left: 10px;
    }
  }
}

.queue-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  padding: 0.5em;
  margin-top: 1.7em;
  padding-bottom: 80px;
  .status,
  .type,
  .doctor {
    display: flex;
    gap: 1em;
    label {
      width: 100%;
      text-align: center;
    }
  }
  .ant-form-item-explain-error {
    text-align: right;
  }
}

.adm-selector-item:nth-child(2n-1):last-of-type {
  grid-column: 1 / -1;
}

.queue-tabs-wrapper {
  position: sticky !important;
  top: 0 !important;
  z-index: 200;
  width: 100%;
  user-select: none;
  .layout-tab {
    .adm-tabs-tab {
      width: 100%;
      text-align: center;
    }
  }
}

@keyframes hide-card {
  to {
    scale: 0 0;
  }
}
